In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [6]:
##preparing the data
df_adol = pd.read_csv("/drive/My Drive/Colab Notebooks/Autism-Adol-Data.csv",na_values="?")
df_child = pd.read_csv("/drive/My Drive/Colab Notebooks/Autism-Child-Data.csv",na_values="?")

In [7]:
df_adol.head()

   A1_Score  A2_Score  A3_Score  ...       age_desc  relation  Class/ASD
0         0         0         0  ...  '12-16 years'    Parent         NO
1         0         0         0  ...  '12-16 years'  Relative         NO
2         0         0         0  ...  '12-16 years'       NaN         NO
3         0         1         1  ...  '12-16 years'      Self        YES
4         1         1         1  ...  '12-16 years'       NaN        YES

[5 rows x 21 columns]

In [8]:
df_child.head()

   A1_Score  A2_Score  A3_Score  ...      age_desc  relation  Class/ASD
0         1         1         0  ...  '4-11 years'    Parent         NO
1         1         1         0  ...  '4-11 years'    Parent         NO
2         1         1         0  ...  '4-11 years'       NaN         NO
3         0         1         0  ...  '4-11 years'       NaN         NO
4         1         1         1  ...  '4-11 years'    Parent        YES

[5 rows x 21 columns]

In [9]:
df_adol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   A1_Score         104 non-null    int64
 1   A2_Score         104 non-null    int64
 2   A3_Score         104 non-null    int64
 3   A4_Score         104 non-null    int64
 4   A5_Score         104 non-null    int64
 5   A6_Score         104 non-null    int64
 6   A7_Score         104 non-null    int64
 7   A8_Score         104 non-null    int64
 8   A9_Score         104 non-null    int64
 9   A10_Score        104 non-null    int64
 10  age              104 non-null    int64
 11  gender           104 non-null    object
 12  ethnicity        98 non-null     object
 13  jundice          104 non-null    object
 14  austim           104 non-null    object
 15  contry_of_res    104 non-null    object
 16  used_app_before  104 non-null    object
 17  result           104 non-null    int64
 18  age_desc         104 non-null    object
 19  relation         98 non-null     object
 20  Class/ASD        104 non-null    object
dtypes: int64(12), object(9)
memory usage: 17.2+ KB

In [10]:
df_child.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   A1_Score         292 non-null    int64
 1   A2_Score         292 non-null    int64
 2   A3_Score         292 non-null    int64
 3   A4_Score         292 non-null    int64
 4   A5_Score         292 non-null    int64
 5   A6_Score         292 non-null    int64
 6   A7_Score         292 non-null    int64
 7   A8_Score         292 non-null    int64
 8   A9_Score         292 non-null    int64
 9   A10_Score        292 non-null    int64
 10  age              288 non-null    float64
 11  gender           292 non-null    object
 12  ethnicity        249 non-null    object
 13  jundice          292 non-null    object
 14  austim           292 non-null    object
 15  contry_of_res    292 non-null    object
 16  used_app_before  292 non-null    object
 17  result           292 non-null    int64
 18  age_desc         292 non-null    object
 19  relation         249 non-null    object
 20  Class/ASD        292 non-null    object
dtypes: float64(1), int64(11), object(9)
memory usage: 48.0+ KB

In [13]:
##Calculate the distribution
autism_adol = (len(df_adol[df_adol['Class/ASD']=='YES'])/(len(df_adol)))
autism_child = (len(df_child[df_child['Class/ASD']=='YES'])/(len(df_child)))
print("Adol: ",autism_adol)
print("Child: ",autism_child)

Adol:  0.6057692307692307
Child:  0.4828767123287671

In [16]:
##Joining the data
df_full = pd.concat([df_child,df_adol],axis=0)

In [19]:
df_full.head()

   A1_Score  A2_Score  A3_Score  ...      age_desc  relation  Class/ASD
0         1         1         0  ...  '4-11 years'    Parent         NO
1         1         1         0  ...  '4-11 years'    Parent         NO
4         1         1         1  ...  '4-11 years'    Parent        YES
6         1         0         1  ...  '4-11 years'    Parent        YES
7         1         1         1  ...  '4-11 years'    Parent        YES

[5 rows x 21 columns]

In [18]:
##missing value seems is occured randomly in ethnicty and relation, we will dropped row with missing value
df_full = df_full.dropna()
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 0 to 103
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   A1_Score         346 non-null    int64
 1   A2_Score         346 non-null    int64
 2   A3_Score         346 non-null    int64
 3   A4_Score         346 non-null    int64
 4   A5_Score         346 non-null    int64
 5   A6_Score         346 non-null    int64
 6   A7_Score         346 non-null    int64
 7   A8_Score         346 non-null    int64
 8   A9_Score         346 non-null    int64
 9   A10_Score        346 non-null    int64
 10  age              346 non-null    float64
 11  gender           346 non-null    object
 12  ethnicity        346 non-null    object
 13  jundice          346 non-null    object
 14  austim           346 non-null    object
 15  contry_of_res    346 non-null    object
 16  used_app_before  346 non-null    object
 17  result           346 non-null    int64
 18  age_desc         346 non-null    object
 19  relation         346 non-null    object
 20  Class/ASD        346 non-null    object
dtypes: float64(1), int64(11), object(9)
memory usage: 59.5+ KB

In [39]:
##dropping age_desc and seperate features and target
df_features = df_full.drop(columns=["age_desc","Class/ASD"],axis=1)
df_target = df_full["Class/ASD"]
df_features.head()

   A1_Score  A2_Score  A3_Score  ...  used_app_before  result  relation
0         1         1         0  ...               no       5    Parent
1         1         1         0  ...               no       5    Parent
4         1         1         1  ...               no      10    Parent
6         1         0         1  ...               no       7    Parent
7         1         1         1  ...               no       8    Parent

[5 rows x 19 columns]

In [40]:
##Scaling Age and Result
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
numerical = ['age', 'result']

features_minmax_transform = pd.DataFrame(data = df_features)
features_minmax_transform[numerical] = scaler.fit_transform(df_features[numerical])
features_minmax_transform.head()

   A1_Score  A2_Score  A3_Score  ...  used_app_before  result  relation
0         1         1         0  ...               no     0.5    Parent
1         1         1         0  ...               no     0.5    Parent
4         1         1         1  ...               no     1.0    Parent
6         1         0         1  ...               no     0.7    Parent
7         1         1         1  ...               no     0.8    Parent

[5 rows x 19 columns]

In [41]:
## Encoding
#One-hot encode the 'features_minmax_transform' data using pandas.get_dummies()
features_final = pd.get_dummies(features_minmax_transform)
#encode target
df_target = df_target.apply(lambda x: 1 if x=='YES' else 0)
#result
features_final.head()

   A1_Score  A2_Score  ...  relation_Self  relation_self
0         1         1  ...              0              0
1         1         1  ...              0              0
4         1         1  ...              0              0
6         1         0  ...              0              0
7         1         1  ...              0              0

[5 rows x 97 columns]

In [42]:
#Splitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_final, df_target, train_size=0.80, random_state=1)
# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 276 samples.
Testing set has 70 samples.

In [44]:
## SVM Modelling

from sklearn.metrics import fbeta_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import make_scorer
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
def f_beta_score(y_true, y_predict):
    return fbeta_score(y_true, y_predict, beta = 0.5)

In [47]:
clf = SVC(random_state=1)
parameters = {'C':range(1,6),'kernel':['linear','poly','rbf','sigmoid'],'degree':range(1,6)}
# Make an fbeta_score scoring object using make_scorer()
scorer = make_scorer(f_beta_score)
# Perform grid search on the classifier using 'scorer' as the scoring method using GridSearchCV()
grid_obj = GridSearchCV(estimator = clf, param_grid = parameters, scoring = scorer)
# Fit the grid search object to the training data and find the optimal parameters using fit()
grid_fit = grid_obj.fit(X_train, y_train)
# Get the estimator
best_clf = grid_fit.best_estimator_
# Make predictions using the unoptimized and model
predictions = (clf.fit(X_train, y_train)).predict(X_test)
best_predictions = best_clf.predict(X_test)
# Report the before-and-afterscores
print("Unoptimized model\n------")
print("Accuracy score on testing data: {:.4f}".format(accuracy_score(y_test, predictions)))
print("F-score on testing data: {:.4f}".format(fbeta_score(y_test, predictions, beta = 0.5)))
print("\nOptimized Model\n------")
print("Final accuracy score on the testing data: {:.4f}".format(accuracy_score(y_test, best_predictions)))
print("Final F-score on the testing data: {:.4f}".format(fbeta_score(y_test, best_predictions, beta = 0.5)))
print("Final Parameter: ",best_clf)

Unoptimized model
------
Accuracy score on testing data: 0.9714
F-score on testing data: 0.9783

Optimized Model
------
Final accuracy score on the testing data: 1.0000
Final F-score on the testing data: 1.0000
Final Parameter:  SVC(C=2, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=1, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [48]:
## Full Model
clf = SVC(C=2,kernel='linear')
clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
print("Accuracy score on testing data: {:.4f}".format(accuracy_score(y_test, prediction)))
print("F-score on testing data: {:.4f}".format(fbeta_score(y_test, prediction, beta = 0.5)))

Accuracy score on testing data: 1.0000
F-score on testing data: 1.0000